<div id="fb-root"></div>
<script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<header id="header">
  <div class="sleeve">
    <div class="menu-button-container">
            <a href="#">
                Menu
            </a>
        </div>
        <nav>
            <div class="logo">
                <a href="https://shepherddog.co/">
                    <span class="logo">
                        <img class="logo"
                             src="https://shepherddog.co/media/logo.svg" />
                     </span>
                    <span class="logo-text">
                        <img class="logo text"
                             src="https://shepherddog.co/media/logo_text.svg" />
                     </span>
                </a>
            </div>
            <div class="main-nav-list-container">
                <ul>
                    <li class="technology-services">
                        <a href="https://shepherddog.co/technology-services">
                            What We Do
                        </a>
                    </li>
                    <li class="pricing">
                        <a href="https://shepherddog.co/pricing">
                            Pricing
                        </a>
                    </li>
                    <li class="who-we-are">
                        <a href="https://shepherddog.co/who-we-are">
                            Who We Are
                        </a>
                    </li>
                    <li class="our-work">
                        <a href="https://shepherddog.co/our-work">
                            Our Work
                        </a>
                    </li>
                    <li class="our-apps">
                        <a href="https://shepherddog.co/our-apps">
                            Our Apps
                        </a>
                    </li>
                    <li class="support">
                        <a href="https://shepherddog.co/support">
                            Support
                        </a>
                    </li>
                    <li class="blog">
                        <a href="https://blog.shepherddog.co">
                            Blog
                        </a>
                    </li>
                </ul>
            </div>
            <div class="contact-info-container">
                <div class="twitter-container">
                    <a href="https://www.twitter.com/shepherddoghq"
                       target="_blank">
                        <img alt="twitter logo"
                             src="https://shepherddog.co/media/twitter-logo-white.png"
                             class="twitter-image"
                             width="16px"
                             height="14px" />
                    </a>
                </div>
                <div class="email-container">
                    <a href="mailto:howdy@shepherddog.co">
                        <img alt="Email Icon"
                             src="https://shepherddog.co/media/mail-white.svg"
                             class="twitter-image"
                             width="16px"
                             height="14px" />
                    </a>
                </div>
                <div class="phone-number">
                    940-222-8545
                </div>
            </div>
            <div class="contact-info-container-mobile">
                <a href="tel:940-222-8545">Call</a>
            </div>
        </nav>
  </div>
</header>