body.blog div#main .sleeve
{
	align-items: flex-start;
	display: flex;
	width: 100%;
}

body.blog div#main
{
	margin-top: 100px;
	max-width: 1000px;
}

body.blog div#main #content
, body.blog div#main #sidebar
{
    flex-grow: 1;
    flex-shrink: 1;
}

body.blog div#main #content
{
	width: 60%;
}

body.blog div#main #sidebar
{
    margin-left: 50px;
    margin-top: 25px;
    width: 30%;
}

div.byline
{
	text-align: right;
}

div.byline > div
{
	display: inline-block;
	vertical-align: middle;
}

div.byline time
{
	font-size: 0.8em;
	color: rgba(0, 0, 0, 0.4);
	margin-top: 0;
}

div.byline .author
{
	margin-bottom: -2px;
	margin-top: 0;
}

.home h1.page-title
{
	margin-bottom: 10px;
}

.home div.post-content
{
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	margin-bottom: 50px;
	padding-bottom: 50px;
}

.home a.read-more-link
{
	display: inline-block;
	margin-top: 25px;
}

p.rss-subscribe
{
	text-align: right;
}

#home-pager .prev
, #post-pager .next
{
	float: right;
}

div.profile-pic-container
{
	border-radius: 50%;
	display: inline-block;
	height: 50px;
	margin-left: 5px;
	overflow: hidden;
	width: 50px;
}

div.profile-pic-container img
{
	height: 100%;
	width: 100%;
}

a.img-small
{
	display: inline-block;
	position: relative;
	width: 200px;
}

a.img-small img
{
	width: 100%;
}

body.blog li.blog a
, body.blog li.blog a a:visited
{
    color: rgb(255, 191, 145);
}

#content h1 a
{
    color: rgb(0, 154, 200);
    text-decoration: none;
}

@media only screen and (min-width: 600px), only screen and (min-width: 325px) and (max-width: 600px)
{
    body.blog li.blog a
    , body.blog li.blog a a:visited
    {
        color: rgb(0, 154, 200);
    }
}