h2
{
	text-align: center;
}

.content-container
{
	padding-bottom: 50px;
	padding-top: 50px;
}

#header + .content-container
{
	padding-top: 0;
}

.maze-container
{
	height: 100%;
	left: 0;
	margin-top: -25px;
	position: absolute;
	top: 0;
	width: 100%;
}

.maze-container
{
	background-image: url(/media/amazing-white.svg);
	background-position: center;
	margin-top: 0px;
}

.content-container.strengths
, .content-container.testimonials
, .content-container.call-to-action
{
	background-color: #F8F8F8;
}

.content-container.call-to-action
{
	padding-bottom: 100px;
	padding-top: 100px;
}

.copy-container > h2
{
	-webkit-background-clip: text;
	background-clip: text;
	border-radius: 16px;
	color: transparent;
	display: inline-block;
	margin-bottom: 25px;
	padding-left: 25px;
	padding-right: 25px;
	width: auto;
}

.content-container.call-to-action h2
{
	color: white;
}

ul.strengths
{
	display: flex;
	list-style-type: none;
	margin-top: 50px;
	padding: 0;
}

ul.strengths li
{
	display: flex;
	flex-direction: column;
	margin: 0 20px;
	text-align: center;
	width: 33%;
}


ul.strengths li p
{
	text-align: justify;
}

ul.strengths li img
{
	display: block;
	margin: 0 auto;
	width: 25%;
}

ul.testimonials
{
	display: flex;
	list-style-type: none;
	padding: 0;
}

ul.testimonials li
{
	border: 1px solid #aaa;
	border-radius: 8px;
	color: white;
	display: flex;
	/*margin: 0 10px;*/
	padding: 25px;
	position: relative;
	text-align: center;
	width: 100%;
}

ul.testimonials li .testimonial-container
{
	text-align: left;
	width: 75%;
}

.testimonial-container cite
{
	display: block;
	font-size: 0.8em;
	font-style: normal;
	font-weight: 300;
	text-align: right;
	text-transform: uppercase;
}

ul.testimonials li .image-container
{
	bottom: 0;
	position: absolute;
	right: 0;
	width: 25%;
}

ul.our-team
{
	display: flex;
	list-style-type: none;
	margin-top: 50px;
	padding: 0;
}

ul.our-team li
{
	align-items: center;
	display: flex;
	flex-direction: column;
	padding-bottom: 25px;
	padding-top: 25px;
	width: 33%;
}

ul.our-team li .bio-container
{
	text-align: center;
	width: 75%;
}

ul.our-team li .bio-container h3
{
	margin: 0;
}

ul.our-team li .bio-container label
{
	font-size: 0.8em;
	font-weight: 200;
	text-transform: uppercase;
}

ul.our-team li .image-container.bio-image
{
	width: 60%;
}

.content-container
{
	position: relative;
	text-align: center;
}

.content-container.call-to-action .content
{
	background-color: rgb(0, 154, 200);
	border: 1px solid #aaa;
	border-radius: 8px;
	color: white;
	padding: 25px;
}

.content-container.call-to-action a.button
, .content-container.call-to-action a.button:visited
{
	color: white;
	margin: 0 auto;
	margin-top: 50px;
	width: 150px;
}

.content-container.call-to-action a.button:hover
{
	background-color: white;
	color: rgb(0, 154, 200);
}

.hero-container
{
	margin-bottom: 25px;
	overflow: hidden;
	padding-top: 50px;
	position: relative;
}

.content
{
	position: relative;
	z-index: 3;
}

.hero-container > .content > label
{
	color: white;
	display: block;
	font-weight: 700;
	margin-bottom: 15px;
	margin-top: 75px;
	text-transform: uppercase;
}

.hero-image-container
{
	margin: 0 auto;
	width: 500px;
}

div.background-colors
, div.background-blur
{
	display: none;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

div.background-colors
{
	display: flex;
	flex-wrap: wrap;
	z-index: 0;
}

div.background-colors > div
{
	display: none;
	height: 100%;
	width: 50%;
}

div.background-colors > div:nth-child(odd)
{
	background-color: red;
}

div.background-colors > div:nth-child(even)
{
	background-color: blue;
}

.u-gradient-background
{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ed2f32+0,7a7ee2+100 */
	background: #ed2f32; /* Old browsers */
	background: -moz-linear-gradient(left, #ed2f32 0%, #7a7ee2 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #ed2f32 0%,#7a7ee2 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #ed2f32 0%,#7a7ee2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed2f32', endColorstr='#7a7ee2',GradientType=1 ); /* IE6-9 */
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e89a2e+0,79c4e0+100 */
	background: #e89a2e; /* Old browsers */
	background: -moz-linear-gradient(left, #e89a2e 0%, #79c4e0 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #e89a2e 0%,#79c4e0 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #e89a2e 0%,#79c4e0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e89a2e', endColorstr='#79c4e0',GradientType=1 ); /* IE6-9 */

	/* PURPLE TO TEAL(ISH) *?
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#520e75+0,00827d+100 */
	background: #520e75; /* Old browsers */
	background: -moz-linear-gradient(left, #520e75 0%, #00827d 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #520e75 0%,#00827d 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #520e75 0%,#00827d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#520e75', endColorstr='#00827d',GradientType=1 ); /* IE6-9 */

	/* RAINBOW */
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c500fc+0,fc7e00+29,f8fc00+51,04fc00+75,0090ff+100 */
	background: #c500fc; /* Old browsers */
	background: -moz-linear-gradient(left, #c500fc 0%, #fc7e00 29%, #f8fc00 51%, #04fc00 75%, #0090ff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #c500fc 0%,#fc7e00 29%,#f8fc00 51%,#04fc00 75%,#0090ff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #c500fc 0%,#fc7e00 29%,#f8fc00 51%,#04fc00 75%,#0090ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c500fc', endColorstr='#0090ff',GradientType=1 ); /* IE6-9 */

	/* GREEN TO BLUE */
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#04fc00+0,0090ff+100 */
	background: #04fc00; /* Old browsers */
	background: -moz-linear-gradient(left, #04fc00 0%, #0090ff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #04fc00 0%,#0090ff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #04fc00 0%,#0090ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04fc00', endColorstr='#0090ff',GradientType=1 ); /* IE6-9 */

	/* DARKER GREEN TO BLUE */
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00a005+0,0092cc+100 */
	background: #00a005; /* Old browsers */
	background: -moz-linear-gradient(left, #00a005 0%, #0092cc 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #00a005 0%,#0092cc 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #00a005 0%,#0092cc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a005', endColorstr='#0092cc',GradientType=1 ); /* IE6-9 */

	/* LIGHTEN THE GREEN A LITTLE TO BLUE */
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5fba53+0,0092cc+100 */
	background: #5fba53; /* Old browsers */
	background: -moz-linear-gradient(left, #5fba53 0%, #0092cc 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #5fba53 0%,#0092cc 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #5fba53 0%,#0092cc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5fba53', endColorstr='#0092cc',GradientType=1 ); /* IE6-9 */

	/* MORE BLUE THAN YELLOW IN THE GREEN */
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#52b785+0,0092cc+100 */
	background: #51b56d; /* Old browsers */
	background: -moz-linear-gradient(left, #51b56d 0%, #0092cc 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #51b56d 0%,#0092cc 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #51b56d 0%,#0092cc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51b56d', endColorstr='#0092cc',GradientType=1 ); /* IE6-9 */
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none)
{
	div.background-blur
	{
	        -webkit-backdrop-filter: blur(150px);
	        backdrop-filter: blur(150px);
	        background-color: rgba(255, 255, 255, 0.3);
	}
}

@media only screen and (max-width: 600px)
{
	.hero-image-container
	{
		width: 95%;
	}
}

@media only screen and (max-width: 700px)
{
	ul.our-team
	{
		align-items: center;
		flex-direction: column;
	}

	ul.our-team > li
	{
		margin: 0;
		width: 90%;
	}

	div.call-to-action > div
	{
		width: 85%;
	}
}

@media only screen and (max-width: 768px)
{
	ul.strengths
	{
		align-items: center;
		flex-direction: column;
	}

	ul.strengths > li
	{
		margin: 0;
		width: 90%;
	}

	ul.strengths > li p
	{
		text-align: center;
	}

	ul.testimonials > li .testimonial-container
	{
		position: relative;
		width: 100%;
		z-index: 3;
	}

	ul.testimonials > li .image-container
	{
		width: 45%;
	}
}