h2
{
	text-align: center;
}

.content-container
{
	padding-bottom: 50px;
	padding-top: 50px;
}

#header + .content-container
{
	padding-top: 0;
}

.maze-container
{
	height: 100%;
	left: 0;
	margin-top: -25px;
	position: absolute;
	top: 0;
	width: 100%;
}

.maze-container
{
	background-image: url(/media/amazing-white.svg);
	background-position: center;
	margin-top: 0px;
}

.content-container.strengths
, .content-container.testimonials
/*, .content-container.call-to-action*/
{
	background-color: #F8F8F8;
	background-color: rgba(22,68,90,.15);
	box-shadow: inset 0 11px 8px -10px #777,
        inset 0px -11px 8px -10px #777;
	width: 100%;
}

.content-container.call-to-action
, .content-container.project-estimator
{
	padding-bottom: 100px;
	padding-top: 100px;
}

.copy-container > h2
{
	-webkit-background-clip: text;
	background-clip: text;
	border-radius: 16px;
	color: transparent;
	display: inline-block;
	margin-bottom: 25px;
	padding-left: 25px;
	padding-right: 25px;
	width: auto;
}

.content-container.call-to-action h2
{
	color: white;
}

ul.strengths
{
	display: flex;
	list-style-type: none;
	margin-top: 50px;
	padding: 0;
}

ul.strengths li
{
	display: flex;
	flex-direction: column;
	margin: 0 20px;
	text-align: center;
	width: 33%;
}


ul.strengths li p
{
	text-align: justify;
}

ul.strengths li img
{
	display: block;
	margin: 0 auto;
	width: 25%;
}

div.testimonial-list-container
{
	overflow: hidden;
}

ul.testimonials
{
	display: flex;
	flex-wrap: nowrap;
	list-style-type: none;
	padding: 0;
	width: 300%;
}

ul.testimonials li
{
	border: 1px solid #aaa;
	border-radius: 8px;
	color: white;
	display: flex;
	/*margin: 0 10px;*/
	margin: 10px;
	min-height: 340px;
	overflow: hidden;
	padding: 25px;
	position: relative;
	text-align: center;
	width: 33%;
}

ul.testimonials li .testimonial-container
{
	text-align: left;
	width: 75%;
}

.pager-container
{
	margin: 0 auto;
	width: 100px;
}

.pager-container ul
{
	align-items: center;
	display: flex;
	justify-content: center;
	list-style-type: none;
	padding: 0;
}

.pager-container li
{
	border: 2px solid darkgray;
	border-radius: 50%;
	color: darkgray;
	cursor: pointer;
	font-size: 11px;
	font-weight: bold;
	height: 16px;
	margin: 0 4px;
	padding: 0;
	width: 16px;
}

.pager-container li.selected
{
	background-color: black;
	border: 1px solid black;
	color: white;
	cursor: default;
}

.testimonial-container cite
{
	display: block;
	font-size: 0.8em;
	font-style: normal;
	font-weight: 300;
	text-align: right;
	text-transform: uppercase;
}

ul.testimonials li .image-container
{
	bottom: 0;
	position: absolute;
	right: 0;
	width: 25%;
}

ul.our-team
{
	display: flex;
	list-style-type: none;
	margin-top: 50px;
	padding: 0;
}

ul.our-team li
{
	align-items: center;
	display: flex;
	flex-direction: column;
	padding-bottom: 25px;
	padding-top: 25px;
	width: 33%;
}

ul.our-team li .bio-container
{
	text-align: center;
	width: 75%;
}

ul.our-team li .bio-container h3
{
	margin: 0;
}

ul.our-team li .bio-container label
{
	font-size: 0.8em;
	font-weight: 200;
	text-transform: uppercase;
}

ul.our-team li .image-container.bio-image
{
	width: 60%;
}

.content-container
{
	position: relative;
	text-align: center;
}

.content-container.call-to-action .content
{
	/*background-color: rgb(0, 154, 200);
	border: 1px solid #aaa;
	border-radius: 8px;*/
	color: white;
	padding: 25px;
}

.content-container.call-to-action a.button
, .content-container.call-to-action a.button:visited
{
	color: white;
	margin: 0 auto;
	margin-top: 50px;
	width: 150px;
}

.content-container.call-to-action a.button:hover
{
	background-color: white;
	color: rgb(0, 154, 200);
}

.hero-container
{
	margin-bottom: 25px;
	overflow: hidden;
	padding-top: 50px;
	position: relative;
}

.content
{
	position: relative;
	z-index: 3;
}

.hero-container > .content > label
{
	color: white;
	display: block;
	font-weight: 700;
	margin-bottom: 15px;
	margin-top: 75px;
	text-transform: uppercase;
}

.hero-image-container
{
	margin: 0 auto;
	width: 500px;
}

div.background-colors
, div.background-blur
{
	display: none;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

div.background-colors
{
	display: flex;
	flex-wrap: wrap;
	z-index: 0;
}

div.background-colors > div
{
	display: none;
	height: 100%;
	width: 50%;
}

div.background-colors > div:nth-child(odd)
{
	background-color: red;
}

div.background-colors > div:nth-child(even)
{
	background-color: blue;
}

div.border
{
	background-repeat: repeat;
	height: 6px;
	position: relative;
	width: 100%;
}

div.border.bottom
{
	background-image: url(/media/triangle-border-white-up.svg);
	top: -6px;
}

div.border.top
{
	background-image: url(/media/triangle-border-white-down.svg);
	bottom: -6px;
	z-index: 1;
}

.u-gradient-background
{
	/* MORE BLUE THAN YELLOW IN THE GREEN */
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#52b785+0,0092cc+100 */
	background: #51b56d; /* Old browsers */
	background: -moz-linear-gradient(left, #51b56d 0%, #0092cc 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #51b56d 0%,#0092cc 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #51b56d 0%,#0092cc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51b56d', endColorstr='#0092cc',GradientType=1 ); /* IE6-9 */
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none)
{
	div.background-blur
	{
	        -webkit-backdrop-filter: blur(150px);
	        backdrop-filter: blur(150px);
	        background-color: rgba(255, 255, 255, 0.3);
	}
}

@media only screen and (max-width: 600px)
{
	.hero-image-container
	{
		width: 95%;
	}
}

@media only screen and (max-width: 700px)
{
	ul.our-team
	{
		align-items: center;
		flex-direction: column;
	}

	ul.our-team > li
	{
		margin: 0;
		width: 90%;
	}
}

@media only screen and (max-width: 768px)
{
	ul.strengths
	{
		align-items: center;
		flex-direction: column;
	}

	ul.strengths > li
	{
		margin: 0;
		width: 90%;
	}

	ul.strengths > li p
	{
		text-align: center;
	}

	ul.testimonials > li .testimonial-container
	{
		position: relative;
		width: 100%;
		z-index: 3;
	}

	ul.testimonials > li .image-container
	{
		width: 45%;
	}
}