
.image-container.bio-image
{
	border-radius: 50%;
	height: auto;
	margin: 0 25px;
	margin-bottom: 15px;
	overflow: hidden;
	position: relative;
}

.image-container.bio-image img
{
	position: relative;
	width: 100%;
}