
header#header
{
    background-color: rgba(250, 250, 250, 1.0);
    border-bottom: 1px solid #AAA;
    /*box-shadow: 0 1px 8px #AAA;*/
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}

nav
{
    align-items: center;
    display: flex;
    margin: 0 auto;
    max-width: 90%;
    padding: 10px;
}

div.logo
{
    display: block;
    margin: 0 auto;
    text-align: center;
}

div.logo a
{
    text-decoration: none;
}

span.logo
, span.logo-text
{
    display: inline-block;
    height: auto;
    width: 130px;
}

img.logo.text
{
    margin-left: .20em;
    margin-top: .20em;
}

span.logo
{
    width: 40px;
}

div.main-nav-list-container
{
    background-color: rgba(201, 122, 71, 0.9); /* a nice orangy color */
    height: 0;
    left: 0;
    margin-top: 2px;
    overflow: scroll;
    position: absolute;
    text-align: right;
    top: 2.9em;
    visibility: hidden;
    width: 70%;
    white-space: nowrap;
    z-index: 10;
}

nav ul
{
    display: flex;
    margin: 0;
    margin-top: 9px;
    width: auto;
}

nav ul li
{
    margin-right: 25px;
}

nav ul li img.text
{
    height: 25px;
    margin-left: 0;
    margin-top: 14px;
}

nav ul li a
, nav ul li a:visited
{
    color: white;
    display: block;
    text-decoration: none;
    vertical-align: bottom;
}

nav li.logo a
{
    padding-top: 0;
}

nav ul li.active a
{
    color: rgb(0, 154, 200);
}

div.contact-info-container
{
    display: block;
    position: absolute;
    right: 30px;
    top: 85px;
}

.menu-button-container
, .contact-info-container-mobile
{
    font-size: 0.9em;
    left: 0.5em;
    position: absolute;
    top: 16px;
    z-index: 10;
}

.contact-info-container-mobile
{
    left: auto;
    right: 0.5em;
}

.menu-button-container a
, .menu-button-container a:visited
, .contact-info-container-mobile a
, .contact-info-container-mobile a:visited
{
    color: rgb(0, 154, 200);
    text-decoration: none;
}

nav .phone-number
, nav .twitter-container
, nav .email-container
{
    background-color: rgba(140, 65, 252, 1.0);
    background-color: hsla(42, 0%, 20%, 1.0);
    border-radius: 4px;
    bottom: -15px;
    box-shadow: 0 1px 4px #101010;
    color: #FEFEFE;
    display: inline-block;
    font-size: 1.0em;
    margin-right: 15px;
    padding: 5px 10px;
    position: relative;
}



nav .twitter-container a
, nav .twitter-container a:visited
, nav .email-container a
, nav .email-container a:visited
, nav .phone-number a
, nav .phone-number a:visited
{
    color: #FEFEFE;
    text-decoration: none;
}

nav .twitter-image
{
    width: 24px;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none)
{
    .content .about-us-copy
    {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }

    header#header
    {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba(250, 250, 250, 0.6);
    }

    nav .phone-number
    , nav .twitter-container
    , nav .email-container
    {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba(140, 65, 252, 1.0);
        background-color: hsla(42, 0%, 20%, 0.6);
    }
}

@media only screen and (min-device-width: 600px), only screen and (min-device-width: 325px) and (max-device-width: 600px) and (orientation: landscape) /* targeting iPhone 6 Plus */
{
    .menu-button-container
    , .contact-info-container-mobile
    {
        display: none;
    }

    div.logo
    {
        display: inline-block;
        margin: 0;
        text-align: left;
    }

    span.logo
    , span.logo-text
    {
        display: inline-block;
        width: 176px;
    }

    span.logo
    {
        height: 50px;
        width: 50px;
    }

    nav .logo img.logo.text
    {
        margin-left: 5px;
        margin-top: 10px;
    }

    nav
    {
        max-width: 1000px;
        position: relative;
    }

    div.main-nav-list-container
    {
        background-color: transparent;
        display: inline-block;
        height: auto;
        margin-left: 2em;
        overflow: hidden;
        position: static;
        vertical-align: -8px;
        visibility: visible;
    }

    nav ul
    {
        display: inline-block;
        margin: 0;
        padding: 0;
        vertical-align: -7px;
    }

    nav ul li
    {
        display: table-cell;
        height: auto;
        padding: 0 1em;
        text-align: center;
    }

    nav ul li a
    , nav ul li a:visited
    {
        color: black;
    }

    nav ul li.active a, nav ul li a:hover
    {
        color: rgb(0, 154, 200);
    }

    nav .phone-number
    , nav .twitter-container
    , nav .email-container
    {
        background-color: rgba(140, 65, 252, 1.0);
        background-color: hsla(42, 0%, 20%, 0.8);
        background-color: rgba(201, 122, 71, 0.9);
        border-radius: 4px;
        bottom: auto;
        color: #FEFEFE;
        font-size: 0.8em;
        left: auto;
        margin: 0;
        padding: 5px 10px;
        position: relative;
    }

    nav .twitter-container a
    , nav .twitter-container a:visited
    , nav .email-container a
    , nav .email-container a:visited
    , nav .phone-number a
    , nav .phone-number a:visited
    {
        color: #FEFEFE;
        text-decoration: none;
    }

    nav .twitter-image
    {
        vertical-align: -2px;
        width: 16px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px)
{
    nav ul li
    {
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 600px)
{
    nav ul li
    {
        font-size: 0.8em;
        padding-bottom: 6px
    }

    span.logo
    , span.logo-text
    {
        display: inline-block;
        height: auto;
        width: 130px;
    }

    img.logo.text
    {
        margin-left: .20em;
        margin-top: .20em;
    }

    span.logo
    {
        width: 40px;
    }
}