<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

<body class="home">

  {% include header.html %}
  <div class="content-container">
    <div class="hero-container u-gradient-background">
      <div class="maze-container">
      </div>
      <div class="content">
        <label>
          Howdy, we're Shepherd Dog!
        </label>
        <div class="hero-image-container">
          <img class="hero-image" src="/media/courthouse.png" />
        </div>
      </div>
    </div>
    <div class="content">
      <h2>What Are You Great At?</h2>
      <p>
        Is it caring for the elderly? Building smart devices that work with an app? Providing professional education? Roasting coffee?
      </p>
      <p>
        We're great at building and maintaining software tools for businesses &mdash; tools used by your customers and employees. We listen to your needs and figure out how to make the technology work for you, whether that means owning every bit of the process or collaborating with your internal team to fill gaps. We've worked with businesses across many industries and have the skills to rapidly absorb new information so we can hit the ground running.
      </p>
      <p>
        <strong>We handle the tools, systems, and processes needed to make great software so you don't have to.</strong>
      </p>
    </div>
  </div>
  <div class="border top"></div>
  <div class="content-container strengths">
    <div class="content">
      <div class="copy-container">
        <h2 class="u-gradient-background">
          Our Strengths
        </h2>
        <p>
          It's hard to boil a company (even a small company like ours) down into three bullets but this layout looks good and we don't want to overwhelm you. In addition to these, you can read about <a href="https://github.com/Shepherd-Dog/Shepherd-Dog/blob/master/values.md">our core values</a> or check out some of <a href="/blog/favorites">our favorite blog posts</a>.
        </p>
        <ul class="strengths">
          <li>
            <img src="/media/focus.svg" />
            <h3>Focus</h3>
            <p>
              We're a small, focused team. Our size has allowed us to streamline our communication and project management processes. Even though we're small, our track record proves that we can handle everything needed to build and maintain software from initial discovery to final testing.
            </p>
            <p>
              This means that what we build will be true to what your business needs.
            </p>
          </li>
          <li>
            <img src="/media/toolbox.svg" />
            <h3>Flexibility</h3>
            <p>
              We are technology-neutral, know many programming languages, and have experience with a variety of frameworks.
            </p>
            <p>
              This means we will choose the right tools for your new project based upon <strong>your</strong> business needs. Or if you have existing tools in place we can quickly jump in and start making an impact.
            </p>
          </li>
          <li>
            <img src="/media/care.svg" />
            <h3>Fdedication</h3>
            <p>
              We have an unfair advantage &mdash; we care more. We don't want to put crap into the world. We know that what we build is a reflection of ourselves and that what we build for your business is a reflection of you. We pour ourselves entirely into a project and treat it as if it were our own.
            </p>
            <p>
              This means that we will deliver what we say we will no matter how complicated and difficult the problem is.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="border bottom"></div>
  <div class="content-container">
    <div class="content">
      <div class="copy-container">
        <h2 class="u-gradient-background">
          About Us
        </h2>
        <p>
          We've come a long way since early 2015 when we just wanted to help small businesses with their technology. Through our experience trying everything inside that space we've found what we're good at and passionate about &mdash; building technology tools that help businesses work better.
        </p>
        <p>
          Here are the humans under the fluff!
        </p>
        <ul class="our-team">
          <li>
            <div class="image-container u-gradient-background bio-image">
              <div class="maze-container">
              </div>
              <img alt="Picture of Brandy Thomas"
              src="/media/profile-pics/brandy.png" />
            </div>
            <div class="bio-container">
              <h3>Brandy Thomas</h3>
              <label>Operational Co-founder</label>
              <p>
                Jill-of-all-trades with a diverse background and a mixed bag of skills to get the job done.
              </p>
              <a href="/who-we-are/#brandy">Learn more about Brandy</a>
            </div>
          </li>
          <li>
            <div class="image-container u-gradient-background bio-image">
              <div class="maze-container">
              </div>
              <img alt="Picture of David Brunow"
              src="/media/profile-pics/david.png" />
            </div>
            <div class="bio-container">
              <h3>David Brunow</h3>
              <label>Technical Co-founder</label>
              <p>
                David chooses technologies, architects systems, and writes code in a number of different languages.
              </p>
              <a href="/who-we-are/#david">Learn more about David</a>
            </div>
          </li>
          <li>
            <div class="image-container u-gradient-background bio-image">
              <div class="maze-container">
              </div>
              <img alt="Picture of Danielle Gaither"
              src="/media/profile-pics/danielle.png" />
            </div>
            <div class="bio-container">
              <h3>Danielle Gaither</h3>
              <label>Developer</label>
              <p>
                Developer with one eye on design.
              </p>
              <a href="/who-we-are/#danielle">Learn more about Danielle</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="border top"></div>
  <div class="content-container testimonials">
    <div class="content">
      <div class="copy-container">
        <h2 class="u-gradient-background">
          Testimonials
        </h2>
        <p>
          When working with clients we're behind the scenes building things that reflect our clients' branding and needs. Because of this we treat our clients and what we do for them with a level of confidentiality and integrate what we build with what internal teams build to deliver a seamless final product. You'll never see the Shepherd Dog name lighting up the pixels of one of our clients' applications.
        </p>
        <p>
          This makes marketing ourselves a little bit difficult because we can't just openly share what we've built with the world. Similarly, we've masked (and pixelated) the identities of our clients that provided testimonials here.
        </p>
      </div>
      <div class="testimonial-list-container">
        <ul class="testimonials">
          <li class="u-gradient-background">
            <div class="maze-container">
            </div>
            <div class="testimonial-container">
              <p>
                THANK YOU! You bailed me out a couple of times!
              </p>
              <p>
                I am very proud of the fact that this tool is coming together so smoothly! You guys have done a great job, and I really appreciate the extra support for things like client kick-off calls - its recognized that its above and beyond what a typical development shop would do.
              </p>
              <p>
                Working with you guys has been incredibly smooth! I greatly appreciate your organization and the fact that you guys are self-sufficient to get stuff done on time, and as promised. 😊
              </p>
              <cite>&mdash; A Director of Operations</cite>
            </div>
            <div class="image-container">
              <img alt="Image of Testimonial Client"
              src="/media/testimonial-client-1.png" />
            </div>
          </li>
          <li class="u-gradient-background">
            <div class="maze-container">
            </div>
            <div class="testimonial-container">
              <p>
                Thank you again for all you have both done. We are over the moon with the final product.
              </p>
              <cite>&mdash; A Product Owner</cite>
            </div>
            <div class="image-container">
              <img alt="Image of Testimonial Client"
              src="/media/testimonial-client-2.png" />
            </div>
          </li>
          <li class="u-gradient-background">
            <div class="maze-container">
            </div>
            <div class="testimonial-container">
              <p>
                As a small non-profit, we are thrilled that [Shepherd Dog] "remodeled" our website, launched our (amazing) on line store and send out our beautiful monthly newsletter. The work they do for us has increased not only our global visibility, but also our product sales and donations. They’re the best.
              </p>
              <cite>&mdash; A Non-Profit Director</cite>
            </div>
            <div class="image-container">
              <img alt="Image of Testimonial Client"
              src="/media/testimonial-client-3.png" />
            </div>
          </li>
        </ul>
      </div>
      <div class="pager-container">
        <ul>
          <li class="selected">
            1
          </li>
          <li>
            2
          </li>
          <li>
            3
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="border bottom"></div>
  <a name="project-estimator"></a>
  <div class="content-container project-estimator">
    <div class="content">
      <div class="copy-container">
        <h2 class="u-gradient-background">
          Project Estimator
        </h2>
        <p>
          Our bill rate is $124/hour ($62/hour for non-profits) but that number doesn't tell you how much a project will cost. Use our estimator below to a ballpark estimate of what different kinds of projects will cost. Estimates generated by the estimator are not binding quotes &mdash; call or email us to get a formal quote based upon your specific needs.
        </p>
      </div>
      <a class="button disabled">Coming Soon</a>
    </div>
  </div>
  <a name="contact-us"></a>
  <div class="content-container call-to-action u-gradient-background">
    <div class="maze-container">
    </div>
    <div class="content">
      <div class="copy-container">
        <h2>
          Get in Touch
        </h2>
        <p>
          Great &mdash; you've made it this far! Does it sound like we can help your business?
        </p>
        <p>
          Send us an email so we can schedule a time to show off some things we've built and to talk about your specific needs.
        </p>
      </div>
      <a class="button" href="mailto:howdy@shep.dog">Contact Us Now</a>
    </div>
  </div>
</div>

{% include footer.html %}

</body>

</html>