div.byline
{
	text-align: right;
}

div.byline time
{
	font-size: 0.8em;
	color: rgba(0, 0, 0, 0.4);
	margin-top: 0;
}

div.byline .author
{
	margin-bottom: -2px;
	margin-top: 0;
}

.home h1.page-title
{
	margin-bottom: 10px;
}

.home div.post-content
{
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	margin-bottom: 50px;
	padding-bottom: 50px;
}

.home a.read-more-link
{
	display: inline-block;
	margin-top: 25px;
}

p.rss-subscribe
{
	text-align: right;
}

#home-pager .prev
, #post-pager .next
{
	float: right;
}